target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

### Environment Variables & Secrets ###
.env
.env.local
.env.*.local
*.env

### Internal & Deployment Scripts ###
deploy_to_vps.sh
merge_pos.py
*.sh
*.py
*.sql

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans
.sts4-cache

### IntelliJ IDEA ###
.idea
*.iws
*.iml
*.ipr

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/
build/
!**/src/main/**/build/
!**/src/test/**/build/

### VS Code ###
.vscode/

### OS & Misc ###
.DS_Store
Thumbs.db
*.log
logs/
temp.js
TestEmail.java
system.properties
